% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ product.image|mediapath }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description|slice:":100" }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
